* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 60px auto;
  max-width: 70%;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

main {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header {
  text-align: end;
  padding-right: 20px;
  margin-bottom: 10px;
}

li {
  margin-top: 5px;
}

.experienceList {
  margin-left: 20px;
}

.listDotted {
  list-style: inside;
  margin-top: 10px;
}

a {
  color: black;
}

a:hover,
a:focus {
  color: blue;
}

a:focus {
  border-color: blue;
}

h1 {
  @media (max-width: 600px) {
    font-size: 25px;
  }
}

h2 {
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

section {
  margin-top: 20px;
  padding: 0 50px 0 20px;
}

.sectionHeader {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;

  @media (max-width: 600px) {
    font-size: 16px;
    text-align: center;
  }
}

.italic {
  font-style: italic;
}

p {
  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.lastSection {
  margin-bottom: 20px;
}
