body {
  margin: 80px 60px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

h1,
h3 {
  margin: 0;
}

.sectionHeader {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

p {
  margin: 5px 0;
}

.lastSection {
  margin-bottom: 20px;
}
